
<p-toast></p-toast>
<h4 class="tit-subcu font-bold">Project Approval</h4>
<form [formGroup]="form">
<div class="col-12 pb-5">
    <div class="pb-3">
        <hr class="m-0 p-0">
        <h5 class="font-bold m-0">Mercuria</h5>
    </div>
    <div class="grid">
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-datepicker formControlName="ddPackToMercuriaSubmissionDate" styleClass="w-full" inputId="ddPackToMercuriaSubmissionDate" showIcon iconDisplay="input" 
                  [ngClass]="{'ng-invalid ng-dirty': isInvalid('ddPackToMercuriaSubmissionDate')}" />
                <label for="ddPackToMercuriaSubmissionDate">DD pack to Mercuria submission date</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('ddPackToMercuriaSubmissionDate')">DD pack to Mercuria submission date is required</small>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-datepicker formControlName="informalAssemblyToPresentProjectDone" styleClass="w-full" inputId="informalAssemblyToPresentProjectDone" showIcon iconDisplay="input"
                  [ngClass]="{'ng-invalid ng-dirty': isInvalid('informalAssemblyToPresentProjectDone')}" />
                <label for="informalAssemblyToPresentProjectDone">Informal assembly to present project done</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('informalAssemblyToPresentProjectDone')">Informal assembly to present project done is required</small>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-datepicker formControlName="mercuriaQuestionsAnswered" styleClass="w-full" inputId="mercuriaQuestionsAnswered" showIcon iconDisplay="input" 
                  [ngClass]="{'ng-invalid ng-dirty': isInvalid('mercuriaQuestionsAnswered')}" />
                <label for="mercuriaQuestionsAnswered">Mercuria questions answered</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('mercuriaQuestionsAnswered')">Mercuria questions answered is required</small>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-datepicker formControlName="ddPackApprovedByMercuria" styleClass="w-full" inputId="ddPackApprovedByMercuria" showIcon iconDisplay="input" 
                  [ngClass]="{'ng-invalid ng-dirty': isInvalid('ddPackApprovedByMercuria')}" />
                <label for="ddPackApprovedByMercuria">DD pack approved by Mercuria</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('ddPackApprovedByMercuria')">DD pack approved by Mercuria is required</small>
        </div>
   
    </div>
</div>

<div class="flex justify-content-center flex-wrap">
    <div class="col-3">
        <p-button  *ngIf="permissions['CREATE-ORIGINATION'] || permissions['EDIT-ORIGINATION']"  styleClass="w-full" label="Save" [rounded]="true" [disabled]="isSaving || (hasData && !formChanged)" [loading]="isSaving"  (click)="saveForm()" />
            <small *ngIf="data?.Date || data?.NameUser">
                Last date modification:
                <span *ngIf="data?.Date">{{ data?.Date }}</span>
                <span *ngIf="data?.Date && data?.NameUser"> by </span>
                <span *ngIf="data?.NameUser">{{ data?.NameUser }}</span>
            </small>
    </div>
</div>
</form>