<p-toast></p-toast>
<div  class="flex justify-content-between py-3">
    <div>
        <p>Method for evaluating the financial viability of a project or investment by comparing its costs with its
            expected benefits. <br>
            If you haven't tried this method, <a class="font-bold template" href="templates/xlsx/plantilla de importacion - CBA.xlsx" download>Download the template.</a> </p>
     <small>Last date modification: 12 / Ene / 2022</small>
        </div>
    <div>
        <p-button  *ngIf="permissions['UPLOAD-ORIGINATION']"  styleClass="w-full" class="col-6" label="Import document" [rounded]="true"
            (click)="importDoc('bottom')" severity="secondary" />
    </div>
</div>
<!--PASO 0 imagen que aparece antes de importar-->
<div class="p-2 m-2 text-center" *ngIf="mostrarImage">
    <img src="./import-document.png" alt="" width="35%">
</div>
<!--PASO 2 visualizacion de la importacion-->
<div class="pb-5" *ngIf="!mostrarImage">
    <div class="pb-3">
        <hr class="m-0 p-0">
        <h5>ERs From Restoration</h5>
    </div>
    <p-table [value]="cbatables.ersFromRestoration.tabla" size='small' [scrollable]="true" scrollHeight="400px">
        <ng-template #header>
            <tr>
                <th class="text-center"></th>
                <th class="text-center" *ngFor="let col of cbatables.ersFromRestoration.columnas">
                    {{ col.header }}
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-ers>
            <tr>
                <td>{{ ers.account }}</td>
                <!-- AQUI PUEDES EDITAR LAS COLUMNAS DINAMICAS  -->
                <td *ngFor="let col of cbatables.ersFromRestoration.columnas">
                    {{ ers[col.field] | currency }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="pb-5" *ngIf="!mostrarImage">
    <div class="pb-3">
        <hr class="m-0 p-0">
        <h5>Initial Investment</h5>
    </div>
    <p-table [value]="cbatables.initialInvestment.tabla" size='small' [scrollable]="true" scrollHeight="400px">
        <ng-template #header>
            <tr>
                <th class="text-center"><small>Initial Investment</small></th>
                <th class="text-center" *ngFor="let col of cbatables.initialInvestment.columnas">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-investment>
            <tr>
                <td>{{ investment.account }}</td>
                <!-- AQUI PUEDES EDITAR LAS COLUMNAS DINAMICAS  -->
                <td *ngFor="let col of cbatables.initialInvestment.columnas">
                    {{ investment[col.field] | currency }}
                </td>
            </tr>
        </ng-template>
        <ng-template #footer>
        <tr>
            <td class="font-bold">TOTAL</td>
            <td class="font-bold" *ngFor="let col of cbatables.initialInvestment.columnas">
                {{ cbatables.initialInvestment.totales[col.field] | currency }}
            </td>
        </tr>
    </ng-template>
    </p-table>
</div>

<div class="pb-5" *ngIf="!mostrarImage">
    <div class="pb-3">
        <hr class="m-0 p-0">
        <h5>Project Costs</h5>
    </div>
    <p-table [value]="cbatables.projectCosts.tabla" size='small' [scrollable]="true" scrollHeight="400px">
        <ng-template #header>
            <tr>
                <th class="text-center"><small>Project Costs</small></th>
                <th class="text-center" *ngFor="let col of cbatables.projectCosts.columnas">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-pcost>
            <tr>
                <td>{{ pcost.account }}</td>
                <!-- AQUI PUEDES EDITAR LAS COLUMNAS DINAMICAS  -->
                <td *ngFor="let col of cbatables.projectCosts.columnas">
                    {{ pcost[col.field] | currency }}
                </td>
            </tr>
        </ng-template>
          <ng-template #footer>
        <tr>
            <td class="font-bold">TOTAL</td>
            <td class="font-bold" *ngFor="let col of cbatables.projectCosts.columnas">
                {{ cbatables.projectCosts.totales[col.field] | currency }}
            </td>
        </tr>
    </ng-template>
    </p-table>
</div>


<!--PASO 1 INICIA MODAL DE IMPORTACION-->
<p-dialog header="Import document" [modal]="true" [(visible)]="importdoc" [maximizable]="true" [position]="position"
    [style]="{ width: '50rem' }" (onHide)="hideImport()">
    <p>
        If your CBA is already prepared, please make sure your file includes three sheets with the following names:
    </p>
    <ul>
        <li> Initial Investment</li>
        <li> ERs from Restoration</li>
        <li> Project Costs</li>
    </ul>
    <p>
        This helps us easily identify where each table is located.  You can use the template above as a reference to
        ensure your file follows the required format.
    </p>
    <div class="flex justify-content-center flex-wrap">
            <div class="col-6 pt-5">
                <div class="flex justify-content-between align-items-center document" style="height: 2.5rem;">
                    <div class="flex align-items-center">
                        <small *ngIf="!Uploaded">Upload template</small>
                        <small *ngIf="Uploaded">{{ File?.name }}</small>
                    </div>
                    <div class="flex align-items-center justify-content-center" style="width: 2.5rem; height: 2.5rem;">
                        <i *ngIf="Uploading" class="pi pi-spinner-dotted pi-spin green" style="font-size: 1.5rem;"></i>
                        <p-fileupload *ngIf="permissions['UPLOAD-ORIGINATION'] && (!Uploading)" mode="basic" chooseIcon="pi pi-upload" [auto]="true"
                            chooseStyleClass="p-button-text p-button-primary p-button-icon-only"
                            (onSelect)="onFileChange($event)">
                        </p-fileupload>
                    </div>
                </div>
            </div>
    </div>

    <hr>
    <small>The file must comply with the required structure or an error will occur. If you don’t have the template, <a class="font-bold template" href="templates/xlsx/plantilla de importacion - CBA.xlsx" download>download it here.</a> </small>


    <ng-template #footer>
        <p-button *ngIf="permissions['CREATE-ORIGINATION'] || permissions['EDIT-ORIGINATION']"  label="Cancel" [text]="true" [rounded]="true" severity="secondary" (click)="importdoc = false" />
        <p-button *ngIf="permissions['CREATE-ORIGINATION'] || permissions['EDIT-ORIGINATION']"  label="Save" [rounded]="true" severity="primary" [disabled]="isSaving" [loading]="isSaving" (click)="save()" />
    </ng-template>
</p-dialog>