<form [formGroup]="form">

<div class="col-12 pb-5">
    <div class="pb-3">
        <hr class="m-0 p-0">
        <h5>Activity Area</h5>
    </div>
    <div class="grid">
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <input pInputText formControlName="activityArea" id="activityArea" type="text"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('activityArea')}" />
                <label for="activityArea">Activity Area (ha)</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('activityArea')">Activity Area is required.</small>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="validationStatusAA" inputId="validationStatusAA" [options]="state" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('validationStatusAA')}" />
                <label for="validationStatusAA">Validation status AA</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('validationStatusAA')">Validation status is required.</small>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="versionAA" inputId="versionAA" [options]="state" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('versionAA')}" />
                <label for="versionAA">Version AA</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('versionAA')">Version AA is required.</small>
        </div>
        <div class="col-12 md:col-12">
            <p-floatlabel>
                <textarea pTextarea formControlName="notesAA" id="notesAA" rows="3" class="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('notesAA')}"></textarea>
                <label for="notesAA">Notes AA</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('notesAA')">Notes AA is required.</small>
        </div>
    </div>
</div>

<div class="flex justify-content-center flex-wrap">
    <div class="col-3">
        <p-button styleClass="w-full" label="Save" [rounded]="true" (click)="saveForm()" />
    </div>
</div>

</form>