<p-toast />
<form [formGroup]="form">

  <div class="col-12 pb-5">
    <div class="pb-3">
      <hr class="m-0 p-0">
      <h5>Activity Area</h5>
    </div>
    <div class="grid">
      <div class="col-12 md:col-4">
        <p-floatlabel>
          <p-inputNumber formControlName="activityArea" id="activityArea" mode="decimal" [useGrouping]="false" [allowEmpty]="true" [maxFractionDigits]="4" styleClass="w-full"
            [ngClass]="{'ng-invalid ng-dirty': isInvalid('activityArea')}" />
          <label for="activityArea">Activity area (ha) *</label>
        </p-floatlabel>
        <small class="p-error" *ngIf="isInvalid('activityArea')">Activity area is required.</small>
      </div>
      <div class="col-12 md:col-4">
        <p-floatlabel>
        <p-select formControlName="validationStatusAA" inputId="validationStatusAA"
            [options]="validationStatuses" optionLabel="status_validation_aa"
            optionValue="Id_status_validation_aa"
            styleClass="w-full"
            [ngClass]="{'ng-invalid ng-dirty': isInvalid('validationStatusAA')}" />
          <label for="validationStatusAA">AA validation status *</label>
        </p-floatlabel>
        <small class="p-error" *ngIf="isInvalid('validationStatusAA')">AA validation status is required.</small>
      </div>
      <div class="col-12 md:col-4">
        <p-floatlabel>
        <p-select formControlName="versionAA" inputId="versionAA"
            [options]="versionsAA" optionLabel="version_aa"
            optionValue="Id_version_aa"
            styleClass="w-full"
            [ngClass]="{'ng-invalid ng-dirty': isInvalid('versionAA')}" />
          <label for="versionAA">AA version *</label>
        </p-floatlabel>
        <small class="p-error" *ngIf="isInvalid('versionAA')">AA version is required.</small>
      </div>
      <div class="col-12 md:col-12">
        <p-floatlabel>
          <textarea pTextarea formControlName="notesAA" id="notesAA" rows="3" class="w-full"
            [ngClass]="{'ng-invalid ng-dirty': isInvalid('notesAA')}"></textarea>
          <label for="notesAA">AA notes *</label>
        </p-floatlabel>
        <small class="p-error" *ngIf="isInvalid('notesAA')">AA notes is required.</small>
      </div>
    </div>
  </div>

  <div class="flex justify-content-center flex-wrap">
      <div class="col-3">
      <p-button *ngIf="permissions['CREATE-SIG'] || permissions['EDIT-SIG']" styleClass="w-full" label="Save" [rounded]="true" [disabled]="(hasData && !formChanged)" (click)="saveForm()" />
        <small *ngIf="data?.Date || data?.NameUser">
            Last date modification:
            <span *ngIf="data?.Date">{{ data?.Date }}</span>
            <span *ngIf="data?.Date && data?.NameUser"> by </span>
            <span *ngIf="data?.NameUser">{{ data?.NameUser }}</span>
        </small>
    </div>
  </div>

</form>