<!--este div solo aparece cuando seleccionen un nuevo proyecto-->
<p-toast></p-toast>
<div>
    <h2 *ngIf="!project">New Project</h2>
</div>
<!--este aparece cuando ya existe el projecto-->
<div>
    <h4 class="tit-subcu">Prospect onboarding</h4>
</div>

<form [formGroup]="form">

    <div class="col-12 pb-5">
        <div class="pb-3">
            <hr class="m-0 p-0">
            <h5>Land Onboarding</h5>
        </div>

        <div class="grid">
            <div class="col-12 md:col-6">
                <p-floatlabel>
                    <p-select formControlName="landState" inputId="landState" [options]="projectstate"
                        optionLabel="state_name" dataKey="Id_state" styleClass="w-full"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('landState')}" />
                    <label for="landState">State *</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('landState')">State is required.</small>
            </div>
            <div class="col-12 md:col-6">
                <p-floatlabel>
                    <p-select formControlName="municipality" inputId="municipality" [options]="landMunicipalities"
                        optionLabel="municipality_name" dataKey="Id_municipality" styleClass="w-full"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('municipality')}"
                        (onChange)="onMunicipalityLandChange($event.value)" />
                    <label for="municipality">Municipality *</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('municipality')">Municipality is required.</small>
            </div>
            <div class="col-12 md:col-4 flex align-content-center flex-wrap">
                <div class="col-6">
                    <p-radiobutton formControlName="nucleoAgrario" name="nucleoAgrario" value="yes"
                        inputId="ingredient1" />
                    <label for="ingredient1" class="ml-2">Yes, it is an agrarian nucleus</label>
                </div>
                <div class="col-6">
                    <p-radiobutton formControlName="nucleoAgrario" name="nucleoAgrario" value="no"
                        inputId="ingredient2" />
                    <label for="ingredient2" class="ml-2">No, it is not an agrarian nucleus</label>
                </div>
                <small class="p-error" *ngIf="isInvalid('nucleoAgrario')">Please select an option.</small>
            </div>
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <p-select formControlName="nucleoAgrarioVal" inputId="nucleoAgrarioVal" [options]="agrarianNucleus"
                        optionLabel="nucleus_name" styleClass="w-full"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('nucleoAgrarioVal')}" />
                    <label for="nucleoAgrarioVal">Agrarian Nucleus</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('nucleoAgrarioVal')">Agrarian nucleus is required.</small>
            </div>
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <p-select formControlName="landTenureType" inputId="landTenureType" [options]="landTenureTypes"
                        optionLabel="land_tenure_type" styleClass="w-full"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('landTenureType')}" />
                    <label for="landTenureType">Land tenure type</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('landTenureType')">Land tenure type is required.</small>
            </div>
         

            <!-- Upload .ZIP Property Polygon-->
            <div class="col-12 md:col-6">
                <div class="flex justify-content-between align-items-center document" style="height: 2.5rem;">
                    <div class="flex align-items-center gap-2">
                        <small *ngIf="!propertyUrl && !polygonFile">Upload .ZIP Property Polygon *</small>
                        <a *ngIf="propertyUrl && !polygonFile" [href]="propertyUrl" target="_blank"
                            style="text-decoration: underline; cursor: pointer;">
                            <small>.ZIP Property Polygon</small>
                        </a>
                        <a *ngIf="propertyUrl && polygonFile" [href]="propertyUrl" target="_blank"
                            style="text-decoration: underline; cursor: pointer;">
                            <small>{{ polygonFile.name }}</small>
                        </a>
                    </div>
                    <div class="flex align-items-center justify-content-center" style="width: 2.5rem; height: 2.5rem;">
                        <i *ngIf="propertyUploading" class="pi pi-spinner-dotted pi-spin green" style="font-size: 1.5rem;"></i>
                        <ng-container *ngIf="!propertyUploading">
                            <p-fileupload *ngIf="permissions['UPLOAD-ORIGINATION'] && !propertyUrl" mode="basic"
                                accept="application/zip,.zip"
                                chooseIcon="pi pi-upload" [auto]="true"
                                chooseStyleClass="p-button-text p-button-primary p-button-icon-only"
                                (onSelect)="onPolygonSelect($event)">
                            </p-fileupload>
                            <p-button *ngIf="permissions['DELETE-ORIGINATION'] && propertyUrl" icon="pi pi-trash" [text]="true"
                                severity="danger" (click)="propertyUrl = ''; polygonFile = null">
                            </p-button>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 pb-5">
        <div class="pb-3">
            <hr class="m-0 p-0">
            <h5>Prospect Onboarding</h5>
        </div>
        <div class="grid">
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <input pInputText formControlName="projectCounterpart" id="projectCounterpart" type="text"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('projectCounterpart')}" />
                    <label for="projectCounterpart">Project Counterpart *</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('projectCounterpart')">Project Counterpart is required.</small>
            </div>
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <input pInputText formControlName="prospectContactName" id="prospectContactName" type="text"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('prospectContactName')}" />
                    <label for="prospectContactName">Prospect contact name *</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('prospectContactName')">Prospect contact name is
                    required.</small>
            </div>
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <input pInputText formControlName="prospectContactRole" id="prospectContactRole" type="text"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('prospectContactRole')}" />
                    <label for="prospectContactRole">Prospect contact role *</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('prospectContactRole')">Prospect contact role is
                    required.</small>
            </div>
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <p-inputmask formControlName="prospectContactTelephone" id="prospectContactTelephone"
                        mask="(999) 999-9999" placeholder="" styleClass="w-full"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('prospectContactTelephone')}" />
                    <label for="prospectContactTelephone">Prospect contact phone *</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('prospectContactTelephone')">
                    {{ form.get('prospectContactTelephone')?.hasError('required') ? 'Telephone is required.' : 'Must be 10 digits.' }}
                </small>
            </div>
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <input pInputText formControlName="prospectContactEmail" id="prospectContactEmail" type="text"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('prospectContactEmail')}" />
                    <label for="prospectContactEmail">Prospect contact email *</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('prospectContactEmail')">
                    {{ form.get('prospectContactEmail')?.hasError('required') ? 'Email is required.' : 'Invalid email format.' }}
                </small>
            </div>
        </div>

        <h6 class="pb-3">Prospect contact address</h6>

        <div class="grid">
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <input pInputText formControlName="zipCode" id="zipCode" type="text"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('zipCode')}" (keypress)="onlyNumbers($event)"
                        maxlength="5" (input)="onZipCodeChange($event)" />
                    <label for="zipCode">Zip code *</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('zipCode')">
                    {{ form.get('zipCode')?.hasError('required') ? 'Zip code is required.' : 'Must be 5 digits.' }}
                </small>
            </div>
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <p-select formControlName="addressState" inputId="addressState" [options]="states"
                        optionLabel="state_name" styleClass="w-full"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('addressState')}"
                        (onChange)="onStateChange($event.value)" />
                    <label for="addressState">State *</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('addressState')">State is required.</small>
            </div>
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <p-select formControlName="addressMunicip" inputId="addressMunicip" [options]="municipalities"
                        optionLabel="municipality_name" styleClass="w-full"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('addressMunicip')}"
                        (onChange)="onMunicipalityChange($event.value)" />
                    <label for="addressMunicip">Municipality *</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('addressMunicip')">Municipality is required.</small>
            </div>
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <p-select formControlName="colony" inputId="colony" [options]="neighborhoods"
                        optionLabel="neighborhood_name" styleClass="w-full"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('colony')}" />
                    <label for="colony">Neighborhood *</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('colony')">Neighborhood is required.</small>
            </div>
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <input pInputText formControlName="street" id="street" type="text"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('street')}" />
                    <label for="street">Street</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('street')">Street is required.</small>
            </div>
            <div class="col-12 md:col-2">
                <p-floatlabel>
                    <input pInputText formControlName="exteriorNumber" id="exteriorNumber" type="text"
                        (keypress)="onlyNumbers($event)"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('exteriorNumber')}" />
                    <label for="exteriorNumber">Exterior number</label>
                </p-floatlabel>
            </div>
            <div class="col-12 md:col-2">
                <p-floatlabel>
                    <input pInputText formControlName="interiorNumber" id="interiorNumber" type="text"
                        (keypress)="onlyNumbers($event)" />
                    <label for="interiorNumber">Interior Number</label>
                </p-floatlabel>
            </div>
        </div>
    </div>

    <div class="col-12 pb-5">
        <div class="pb-3">
            <hr class="m-0 p-0">
            <h5>Project Onboarding</h5>
        </div>
        <div class="grid">
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <input pInputText formControlName="projectName" id="projectName" type="text"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('projectName')}" />
                    <label for="projectName">Project name *</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('projectName')">Project name is required.</small>
            </div>
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <p-select formControlName="projectType" inputId="projectType" [options]="propertytype"
                        optionLabel="description" styleClass="w-full"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('projectType')}" />
                    <label for="projectType">Project type *</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('projectType')">Project type is required.</small>
            </div>
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <p-select formControlName="programe" inputId="programe" [options]="programme" optionLabel="program"
                        styleClass="w-full" [ngClass]="{'ng-invalid ng-dirty': isInvalid('program')}" />
                    <label for="programe">Program *</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('programe')">Program is required.</small>
            </div>
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <p-select formControlName="priority" inputId="priority" [options]="prospectpriority"
                        optionLabel="prospec_priority" styleClass="w-full"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('priority')}" />
                    <label for="priority">Prospect priority *</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('priority')">Prospect priority is required.</small>
            </div>
            <div class="col-12 md:col-8">
                <p-floatlabel>
                    <textarea pTextarea formControlName="description" id="description" rows="3" class="w-full"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('description')}"></textarea>
                    <label for="description">Description</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('description')">Description is required.</small>
            </div>
        </div>
    </div>

    <div class="flex justify-content-center flex-wrap">
        <div class="col-3">
            <p-button *ngIf="permissions['CREATE-ORIGINATION'] || permissions['EDIT-ORIGINATION']" styleClass="w-full"
                class="col-4" label="Save" [rounded]="true"  [disabled]="isSaving || (hasData && !formChanged)" (click)="saveProject()" />
            <small *ngIf="data?.Date || data?.NameUser">
                Last date modification:
                <span *ngIf="data?.Date">{{ data?.Date }}</span>
                <span *ngIf="data?.Date && data?.NameUser"> by </span>
                <span *ngIf="data?.NameUser">{{ data?.NameUser }}</span>
            </small>
        </div>
    </div>

</form>