<section *ngIf="!hideTitle" class="flex justify-content-between flex-wrap portafolio">
    <div *ngIf="!hideTitle" class="align-items-center justify-content-center">
        <div class="inline-flex align-items-center">
            <p-button size="small" icon="pi pi-bars" [rounded]="true" pTooltip="Menu Project" tooltipPosition="top"
                severity="primary" variant="text" (click)="MenuGlobal = true" />
            <h3 class="font-bold pl-3">{{projectName}}
                <!--este se pinta de color dependiendo del estatus-->

                <span pTooltip="[Subprocess] Status: [status]" tooltipPosition="top">
                    <i class="fa-solid fa-leaf status evaluation" (click)="openProjectStatus()"></i>
                </span>
            </h3>
        </div>
    </div>
    <div *ngIf="hideTitle" class="flex align-items-center justify-content-center">
    </div>
    <div class="flex align-items-center justify-content-center fondo-acciones">
        <div class="flex gap-2">
            <p-button size="small" icon="pi pi-eye" [rounded]="true" pTooltip="Project Overview" tooltipPosition="top"
                severity="primary" [text]="true" (click)="openOverview()" />
            <p-button size="small" icon="pi pi-cloud-download" [rounded]="true" pTooltip="Download Documents"
                tooltipPosition="top" severity="primary" [text]="true"  />
            <p-button size="small" icon="pi pi-users" [rounded]="true" pTooltip="Forest owner" tooltipPosition="top"
                severity="primary" [text]="true" />
            <p-button size="small" icon="pi pi-calendar" [rounded]="true" pTooltip="KeyMilestones" tooltipPosition="top"
                severity="primary" [text]="true" (click)="menu.toggle($event)" />
            <!--la ruta vendra del componente original de project log cuando se genere-->
            <p-button size="small" icon="pi pi-clipboard" [rounded]="true" pTooltip="Project Log" tooltipPosition="top"
                severity="primary" [text]="true" />

        </div>
    </div>
</section>

<!--vistas del menu-->
<section>
    <router-outlet></router-outlet>
</section>

<!--menu del proyecto-->

<p-drawer [(visible)]="MenuGlobal" [closable]="true" [style]="{ width: '240px' }">
    <ng-template #header>
        <h5>Menu Project</h5>
    </ng-template>
    <p-menu [model]="MenuProject" icon="false" />
    <ng-template #footer>
        <hr class="border-t border-0 border-surface surface-800" />
        <p-menu [model]="MenuGeneProject" icon="false" />
    </ng-template>
</p-drawer>

<!--menu del planeacion keymilestones-->
<p-menu #menu [model]="Calendar" [popup]="true" />



<!--Project log se eliminara de este componente para crear un componente especifico para el log del proyecto, se dejo aqui solo para mostrar la vista previa del modal
<p-dialog header="Project Log" [modal]="true" [(visible)]="projectlog" [maximizable]="true" [position]="position">
    <form [formGroup]="form">
        <div class="grid">
            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <p-datepicker formControlName="eventDate" styleClass="w-full" [iconDisplay]="'input'"
                        [showIcon]="true" inputId="eventDate"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('eventDate')}" />
                    <label for="eventDate">Event date</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('eventDate')">Event date is required</small>
            </div>

            <div class="col-12 md:col-4">
                <p-floatlabel>
                    <p-select formControlName="milestone" inputId="milestone" [options]="milestones" optionLabel="name"
                        styleClass="w-full" [ngClass]="{'ng-invalid ng-dirty': isInvalid('milestone')}" />
                    <label for="milestone">Milestones</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('milestone')">Milestone is required</small>
            </div>
            <div class="col-12 md:col-12">
                <p-floatlabel>
                    <textarea formControlName="description" pTextarea id="description" rows="3" class="w-full"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('description')}"></textarea>
                    <label for="description">Description</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('description')">Description is required</small>
            </div>
            <div class="col-12 md:col-12">
                <p-floatlabel>
                    <textarea formControlName="decisions" pTextarea id="decisions" rows="3" class="w-full"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('decisions')}"></textarea>
                    <label for="decisions">Decisions required</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('decisions')">Decisions is required</small>
            </div>
            <div class="col-12 md:col-12">
                <p-floatlabel>
                    <textarea formControlName="agreements" pTextarea id="agreements" rows="3" class="w-full"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('agreements')}"></textarea>
                    <label for="agreements">Agreements</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('agreements')">Agreements is required</small>
            </div>

        </div>
        <div class="document">
            <div class="document-header flex justify-content-between flex-wrap">
                <p class="font-bold">Add evidences <i class="pi pi-info-circle"></i> </p>
                <p-button label="Add evidence" [rounded]="true" severity="secondary" />
            </div>
            <div class="grid nested-grid">
                <div class="col-4">
                    <div class="grid">
                        <div class="col-12">
                            <p-floatlabel>
                                <p-select formControlName="category" inputId="over_label" [options]="milestones"
                                    optionLabel="name" styleClass="w-full"
                                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('category')}" />
                                <label for="over_label">Category</label>
                            </p-floatlabel>
                            <small class="p-error" *ngIf="isInvalid('category')">Category is required</small>
                        </div>
                        <div class="col-12">
                            <p-floatlabel>
                                <p-select formControlName="typeEvidence" inputId="over_label" [options]="milestones"
                                    optionLabel="name" styleClass="w-full"
                                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('typeEvidence')}" />
                                <label for="over_label">Type Evidence</label>
                            </p-floatlabel>
                            <small class="p-error" *ngIf="isInvalid('typeEvidence')">Type Evidence is required</small>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <p-floatlabel>
                        <textarea formControlName="notes" pTextarea id="over_label" rows="3" class="w-full"
                            [ngClass]="{'ng-invalid ng-dirty': isInvalid('notes')}"></textarea>
                        <label for="over_label">Notes</label>
                    </p-floatlabel>
                    <small class="p-error" *ngIf="isInvalid('notes')">Notes is required</small>
                </div>
            </div>
            <div>
                <table class="">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Type evidence</th>
                            <th>Notes</th>
                            <th style="width: 1rem">Document</th>
                            <th style="width: 1rem"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Emisión de CRTS</td>
                            <td>-</td>
                            <td>Lorena salas comento que esta informacion ya se habia notificado a las personas
                                correspondientes pero que nuevamente se notificaria la solicitud del comisariado. </td>
                            <td>
                                <p-button icon="pi pi-file" [rounded]="true" [text]="true" severity="secondary"
                                    pTooltip="View document" tooltipPosition="top" />
                                <p-button icon="pi pi-upload" [rounded]="true" [text]="true" severity="secondary"
                                    pTooltip="Upload Document" tooltipPosition="top" />
                            </td>
                            <td><p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="secondary"
                                    pTooltip="Delete registre" tooltipPosition="top" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ng-template #footer>
            <p-button label="Cancel" [text]="true" [rounded]="true" severity="secondary" (click)="visible = false" />
            <p-button label="Save" [rounded]="true" severity="primary" (click)="saveForm()" />
        </ng-template>
    </form>
</p-dialog>
-->