.portafolio{
    background-color: #F8FAFB ;
    margin-bottom: 16px;
    border-bottom: 2px solid #E3F0EA;
}
.fase {
    background-color: rgba(8, 143, 132, 0.50);
    border-radius: 4px;
    padding: 8px 24px;
    margin-right: 24px;
}

table {
    width: 100%;
    text-indent: 0px;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    visibility: visible;

    tr td {
        padding: 4px;

        border-bottom: 1px solid #e5e7eb
    }
}

.green {
    color: #088F83;
}

.orange {
    color: #D87610;
}

.gann-milestone {
    td {
        background-color: #F5F5F5;
    }
}

.document {
    background-color: #E3F0EA;
    border-radius: 20px;
    padding: 16px;
}

.document-header {
    padding-bottom: 24px;
}