<section  *ngIf="!hideTitle" class="flex justify-content-between flex-wrap portafolio">
    <div *ngIf="!hideTitle" class="flex align-items-center justify-content-center">
        <h3 class="font-bold">[Titulo proyecto]</h3>
    </div>
    <div *ngIf="hideTitle" class="flex align-items-center justify-content-center">
    </div>
    <div class="flex align-items-center justify-content-center">
        <div class="flex gap-2">

            <p-button size="small" icon="pi pi-eye" [rounded]="true" pTooltip="Project Overview" tooltipPosition="top" severity="success"
                (click)="overview = true" />
            <p-button size="small" icon="pi pi-calendar" [rounded]="true" pTooltip="KeyMilestones" tooltipPosition="top" severity="success"
                (click)="menu.toggle($event)" />

            <p-button size="small" icon="pi pi-clipboard" [rounded]="true" pTooltip="Project Log" tooltipPosition="top" severity="success"
                (click)="projectLog('bottom')" />
            <p-button size="small" icon="pi pi-bars" [rounded]="true" pTooltip="Menu Project" tooltipPosition="top" severity="success"
                (click)="MenuGlobal = true" />
        </div>
    </div>
</section>

<!--vistas del menu-->
<section>
    <router-outlet></router-outlet>
</section>

<!--menu-->

<p-drawer [(visible)]="MenuGlobal" [closable]="false">
    <ng-template #header>
        <h3>Menu Project</h3>
    </ng-template>
    <p-menu [model]="MenuProject" icon="false" />
    <ng-template #footer>
        <hr class="border-t border-0 border-surface surface-800" />
        <p-menu [model]="MenuGeneProject" icon="false" />
    </ng-template>
</p-drawer>

<!--project overview-->

<p-drawer [(visible)]="overview" position="right">
    <ng-template #header>
        <h3>Project Overview</h3>
    </ng-template>
    <div class="fase">
        <p class="font-bold">[MacroProcess] | [Subprocess]</p>
    </div>
    <p-message severity="warn" icon="pi pi-exclamation-triangle">

        <p> <span class="font-bold">Alert Project Alive</span> <br> <span> For [status] [description]</span></p>
    </p-message>
    <table>
        <tbody>
            <tr>
                <td><small>ID CAR</small></td>
                <td>
                    <p>[titulo]</p>
                </td>
            </tr>
            <tr>
                <td>
                    <small>ID CANOPIA</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
            <tr>
                <td>
                    <small>STATE</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
            <tr>
                <td>
                    <small>AGGREGATION</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
            <tr>
                <td>
                    <small>MINICIPALITY</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
            <tr>
                <td>
                    <small>AGRARIAN NUCLEUS</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
            <tr>
                <td>
                    <small>LAND TENURE TYPE</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
            <tr>
                <td>
                    <small>PROJECT COUNTERPART</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
            <tr>
                <td>
                    <small>PROJECT TYPE</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
            <tr>
                <td>
                    <small>START AND END DATE</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
            <tr>
                <td>
                    <small>CURRENT RP</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
            <tr>
                <td>
                    <small>CDRs ISSUED TO DATE</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
            <tr>
                <td>
                    <small>EXPECTED CDRs CURRENT RP</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
            <tr>
                <td>
                    <small>PMs</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
            <tr>
                <td>
                    <small>SME (OPEN SPRINTS)</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
            <tr>
                <td>
                    <small>SIL</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
            <tr>
                <td>
                    <small>PROJECT COORDINATOR</small>
                </td>
                <td>
                    <p>[titulo]</p>
                </td>

            </tr>
        </tbody>
    </table>

</p-drawer>

<!--menu del button calendar-->
<p-menu #menu [model]="Calendar" [popup]="true" />

<!--planning Keymilestones-->
<p-dialog header="Planning Keymilestones" [modal]="true" [(visible)]="planning" [maximizable]="true" [resizable]="false"
    [position]="position">
    <form [formGroup]="form">
    <div class="col-2">
        <p-floatlabel>
            <p-select formControlName="rp" inputId="rp" [options]="rp" optionLabel="name" styleClass="w-full" [ngClass]="{'ng-invalid ng-dirty': isInvalid('rp')}"/>
            <label for="rp">RP</label>
        </p-floatlabel>
        <small class="p-error" *ngIf="isInvalid('rp')">RP is required</small>
    </div>
    </form>
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Origination</p-tab>
            <p-tab value="1">Implementation</p-tab>
            <p-tab value="2">Reporting</p-tab>
            <p-tab value="3">Verification</p-tab>
            <p-tab value="4">Registration/issuance</p-tab>
            <p-tab value="5">Settlement</p-tab>
            <p-tab value="6">Benefit Distribution</p-tab>
            <p-tab value="7">Commercialisation</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-list-plan-origin></app-list-plan-origin>
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-list-plan-imple></app-list-plan-imple>
            </p-tabpanel>
            <p-tabpanel value="2">
                <app-list-plan-repo></app-list-plan-repo>
            </p-tabpanel>
            <p-tabpanel value="3">
                <app-list-plan-veri></app-list-plan-veri>
            </p-tabpanel>
            <p-tabpanel value="4">
                <app-list-plan-regis></app-list-plan-regis>
            </p-tabpanel>
            <p-tabpanel value="5">
                <app-list-plan-sett></app-list-plan-sett>
            </p-tabpanel>
            <p-tabpanel value="6">
                <app-list-plan-bene></app-list-plan-bene>
            </p-tabpanel>
            <p-tabpanel value="7">
                <app-list-plan-comm></app-list-plan-comm>
            </p-tabpanel>

        </p-tabpanels>
    </p-tabs>
    <ng-template #footer>
        <p-button label="Cancel" [text]="true" [rounded]="true" severity="secondary" (click)="visible = false" />
        <p-button label="Save" [rounded]="true" severity="primary" (click)="visible = false" />
    </ng-template>
</p-dialog>
<!--diagrama de gann Keymilestones-->
<p-dialog header="Gann Keymilestones" [modal]="true" [(visible)]="gann" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" [position]="position">
    <div>
        <div class="footer flex justify-content-between flex-wrap">
            <div>
                <p-floatlabel class="w-full md:w-56">
                    <p-select inputId="over_label" [options]="rp" optionLabel="name" styleClass="w-full" />
                    <label for="over_label">RP</label>
                </p-floatlabel>
            </div>
            <div>
                <i class="pi pi-circle-on p-1 green">&nbsp;Fecha planeada</i>
                <i class="pi pi-circle-on p-1 orange">&nbsp;Fecha asignada</i>

            </div>
        </div>
        <br>

        <table class="gann-milestone">
            <thead>
                <tr>
                    <th>[PROCESS]</th>
                    <th>JAN</th>
                    <th>FEB</th>
                    <th>MAR</th>
                    <th>APR</th>
                    <th>MAY</th>
                    <th>JUN</th>
                    <th>JUL</th>
                    <th>AUG</th>
                    <th>SEP</th>
                    <th>OCT</th>
                    <th>NOV</th>
                    <th>DEZ</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td>[mileston]</td>
                    <td><i class="pi pi-circle-on p-1 green" pTooltip="25 / Jan / 2025" tooltipPosition="bottom"></i>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><i class="pi pi-circle-on p-1 orange" pTooltip="12 / Dez / 2025" tooltipPosition="bottom"></i>
                    </td>
                </tr>
                <tr class="text-center">
                    <td>[mileston]</td>
                    <td></td>
                    <td></td>
                    <td><i class="pi pi-circle-on p-1 green" pTooltip="01 / Mar / 2025" tooltipPosition="bottom"></i><i
                            class="pi pi-circle-on p-1 orange" pTooltip="30 / Mar / 2025" tooltipPosition="bottom"></i>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</p-dialog>

<!--Project log-->

<p-dialog header="Project Log" [modal]="true" [(visible)]="projectlog" [maximizable]="true" [position]="position">
    <form [formGroup]="form">
    <div class="grid">
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-datepicker formControlName="eventDate"  styleClass="w-full" [iconDisplay]="'input'" [showIcon]="true" inputId="eventDate" 
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('eventDate')}" />
                <label for="eventDate">Event date</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('eventDate')">Event date is required</small>
        </div>

        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="milestone" inputId="milestone" [options]="milestones" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('milestone')}" />
                <label for="milestone">Milestones</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('milestone')">Milestone is required</small>
        </div>
        <div class="col-12 md:col-12">
            <p-floatlabel>
                <textarea formControlName="description" pTextarea id="description" rows="3" class="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('description')}"></textarea>
                <label for="description">Description</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('description')">Description is required</small>
        </div>
        <div class="col-12 md:col-12">
            <p-floatlabel>
                <textarea formControlName="decisions" pTextarea id="decisions" rows="3" class="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('decisions')}"></textarea>
                <label for="decisions">Decisions required</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('decisions')">Decisions is required</small>
        </div>
        <div class="col-12 md:col-12">
            <p-floatlabel>
                <textarea formControlName="agreements" pTextarea id="agreements" rows="3" class="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('agreements')}"></textarea>
                <label for="agreements">Agreements</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('agreements')">Agreements is required</small>
        </div>

    </div>
    <div class="document">
        <div class="document-header flex justify-content-between flex-wrap">
            <p class="font-bold">Add evidences <i class="pi pi-info-circle"></i> </p>
            <p-button label="Add evidence" [rounded]="true" severity="secondary" />
        </div>
        <div class="grid nested-grid">
            <div class="col-4">
                <div class="grid">
                    <div class="col-12">
                        <p-floatlabel>
                            <p-select formControlName="category" inputId="over_label" [options]="milestones" optionLabel="name"
                                styleClass="w-full" 
                                [ngClass]="{'ng-invalid ng-dirty': isInvalid('category')}"/>
                            <label for="over_label">Category</label>
                        </p-floatlabel>
                        <small class="p-error" *ngIf="isInvalid('category')">Category is required</small>
                    </div>
                    <div class="col-12">
                        <p-floatlabel>
                            <p-select formControlName="typeEvidence" inputId="over_label" [options]="milestones" optionLabel="name"
                                styleClass="w-full" 
                                [ngClass]="{'ng-invalid ng-dirty': isInvalid('typeEvidence')}"/>
                            <label for="over_label">Type Evidence</label>
                        </p-floatlabel>
                        <small class="p-error" *ngIf="isInvalid('typeEvidence')">Type Evidence is required</small>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <p-floatlabel>
                    <textarea formControlName="notes" pTextarea id="over_label" rows="3" class="w-full"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('notes')}"></textarea>
                    <label for="over_label">Notes</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('notes')">Notes is required</small>
            </div>
        </div>
        <div>
            <table class="">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Type evidence</th>
                        <th>Notes</th>
                        <th style="width: 1rem">Document</th>
                        <th style="width: 1rem"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Emisión de CRTS</td>
                        <td>-</td>
                        <td>Lorena salas comento que esta informacion ya se habia notificado a las personas
                            correspondientes pero que nuevamente se notificaria la solicitud del comisariado. </td>
                        <td>
                            <p-button icon="pi pi-file" [rounded]="true" [text]="true" severity="secondary"
                                pTooltip="View document" tooltipPosition="top" />
                            <p-button icon="pi pi-upload" [rounded]="true" [text]="true" severity="secondary"
                                pTooltip="Upload Document" tooltipPosition="top" />
                        </td>
                        <td><p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="secondary"
                                pTooltip="Delete registre" tooltipPosition="top" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ng-template #footer>
        <p-button label="Cancel" [text]="true" [rounded]="true" severity="secondary" (click)="visible = false" />
        <p-button label="Save" [rounded]="true" severity="primary" (click)="saveForm()" />
    </ng-template>
    </form>
</p-dialog>