<p-toast></p-toast>
<h4 class="tit-subcu font-bold">Transaction Approval</h4>
<form [formGroup]="form">
    <div class="grid">
        <div class="col-4">
            <div class="pb-3">
                <hr class="m-0 p-0">
                <h5>Buyer Approvals</h5>
            </div>
            <div class="col-12 md:col-12">
                <p-floatlabel>
                    <p-datepicker formControlName="erpaApprovalByBuyer" styleClass="w-full"
                        inputId="erpaApprovalByBuyer" showIcon iconDisplay="input"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('erpaApprovalByBuyer')}" />
                    <label for="erpaApprovalByBuyer">ERPA approval by buyer</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('erpaApprovalByBuyer')">ERPA approval by buyer is
                    required</small>
            </div>
        </div>
        <div class="col-4">
            <div class="pb-3">
                <hr class="m-0 p-0">
                <h5>Project Counterpart Approvals</h5>
            </div>
            <div class="col-12 md:col-12">
                <p-floatlabel>
                    <p-datepicker formControlName="projectApproval" styleClass="w-full" inputId="projectApproval"
                        showIcon iconDisplay="input"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('projectApproval')}" />
                    <label for="projectApproval">Project approval</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('projectApproval')">Project approval is required</small>
            </div>
            <div class="col-12 md:col-12">
                <p-floatlabel>
                    <p-datepicker formControlName="erpaApprovedByProjectCounterpart" styleClass="w-full"
                        inputId="erpaApprovedByProjectCounterpart" showIcon iconDisplay="input"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('erpaApprovedByProjectCounterpart')}" />
                    <label for="erpaApprovedByProjectCounterpart">ERPA approved by project counterpart</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('erpaApprovedByProjectCounterpart')">ERPA approved by project counterpart is required</small>
            </div>
            <div class="col-12 md:col-12">
                <p-floatlabel>
                    <p-select formControlName="approvedBuyer" inputId="approvedBuyer" [options]="approvedBuyers" optionLabel="approved_buyer" optionValue="id_approved_buyer" styleClass="w-full" />
                    <label for="approvedBuyer">Approved buyer</label>
                </p-floatlabel>
            </div>
            <div class="col-12 md:col-12">
                <p-floatlabel>
                    <p-inputnumber 
                        formControlName="percentageMktPrice" 
                        inputId="percentageMktPrice"
                        [maxFractionDigits]="2"
                        [min]="0"
                        [max]="100" 
                        styleClass="w-full"/>
                    <label for="percentageMktPrice">Percentage Mkt price</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('percentageMktPrice')">Percentage Mkt price is required</small>
            </div>
            <div class="col-12 md:col-12">
                <p-floatlabel>
                    <p-datepicker formControlName="projectDeveloperContractApprovedByProjectCounterpart"
                        styleClass="w-full" inputId="projectDeveloperContractApprovedByProjectCounterpart" showIcon
                        iconDisplay="input"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('projectDeveloperContractApprovedByProjectCounterpart')}" />
                    <label for="projectDeveloperContractApprovedByProjectCounterpart">Project developer contract approved by project counterpart</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('projectDeveloperContractApprovedByProjectCounterpart')">Project
                    Project developer contract approved by project counterpart is required</small>
            </div>
            <div class="col-12 md:col-12">
                <p-floatlabel>
                    <p-datepicker formControlName="aggregationApprovalByProjectCounterpart" styleClass="w-full"
                        inputId="aggregationApprovalByProjectCounterpart" showIcon iconDisplay="input"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('aggregationApprovalByProjectCounterpart')}" />
                    <label for="aggregationApprovalByProjectCounterpart">Aggregation approval by project counterpart</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('aggregationApprovalByProjectCounterpart')">Aggregation approval by project counterpart is required</small>
            </div>
        </div>

        <div class="col-4">
            <div class="pb-3">
                <hr class="m-0 p-0">
                <h5>Canopia Approvals</h5>
            </div>
            <div class="col-12 md:col-12">
                <p-floatlabel>
                    <p-datepicker formControlName="projectDeveloperContractApprovedByCanopia" styleClass="w-full"
                        inputId="projectDeveloperContractApprovedByCanopia" showIcon iconDisplay="input"
                        [ngClass]="{'ng-invalid ng-dirty': isInvalid('projectDeveloperContractApprovedByCanopia')}" />
                    <label for="projectDeveloperContractApprovedByCanopia">Project developer contract approved by Canopia</label>
                </p-floatlabel>
                <small class="p-error" *ngIf="isInvalid('projectDeveloperContractApprovedByCanopia')">Project developer contract approved by Canopia is required</small>
            </div>
        </div>
    </div>
    <div class="flex justify-content-center flex-wrap pt-3">
        <div class="col-4">
            <p-button *ngIf="permissions['CREATE-LEGAL'] || permissions['EDIT-LEGAL']" styleClass="w-full" label="Save" [rounded]="true" [disabled]="isSaving || (hasData && !formChanged)" (click)="saveForm()" />
            <small *ngIf="data?.Date || data?.NameUser">
                Last date modification:
                <span *ngIf="data?.Date">{{ data?.Date }}</span>
                <span *ngIf="data?.Date && data?.NameUser"> by </span>
                <span *ngIf="data?.NameUser">{{ data?.NameUser }}</span>
            </small>
        </div>
    </div>
<form>