<form [formGroup]="form">

<div class="col-12 pb-5">
    <div class="pb-3">
        <hr class="m-0 p-0">
        <h5>AP-Regional Result</h5>
    </div>
    <div class="grid">
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="pedApRegionalResult" inputId="pedApRegionalResult" [options]="state" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('pedApRegionalResult')}" />
                <label for="pedApRegionalResult">PED AP-Regional Result</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('pedApRegionalResult')">This field is required.</small>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="canIncludeAnpOrAdvc" inputId="canIncludeAnpOrAdvc" [options]="state" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('canIncludeAnpOrAdvc')}" />
                <label for="canIncludeAnpOrAdvc">Can it include ANP or ADVC?</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('canIncludeAnpOrAdvc')">This field is required.</small>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="canIncludePsa" inputId="canIncludePsa" [options]="state" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('canIncludePsa')}" />
                <label for="canIncludePsa">Can it include PSA?</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('canIncludePsa')">This field is required.</small>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="requiresCommercialAgriculture" inputId="requiresCommercialAgriculture" [options]="state" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('requiresCommercialAgriculture')}" />
                <label for="requiresCommercialAgriculture">Does it requiere commercial agriculture?</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('requiresCommercialAgriculture')">This field is required.</small>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="requiresSubsidies" inputId="requiresSubsidies" [options]="state" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('requiresSubsidies')}" />
                <label for="requiresSubsidies">Does it requiere subsidies?</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('requiresSubsidies')">This field is required.</small>
        </div>
    </div>
</div>

<div class="col-12 pb-5">
    <div class="pb-3">
        <hr class="m-0 p-0">
        <h5>Local PED on AA</h5>
    </div>
    <div class="grid">
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="seccionPedAA" inputId="seccionPedAA" [options]="state" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('seccionPedAA')}" />
                <label for="seccionPedAA">Sección PED AA</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('seccionPedAA')">This field is required.</small>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="poblacionAaConModelo" inputId="poblacionAaConModelo" [options]="state" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('poblacionAaConModelo')}" />
                <label for="poblacionAaConModelo">Población AA con modelo de REDES</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('poblacionAaConModelo')">This field is required.</small>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="actividadAgropecuaria" inputId="actividadAgropecuaria" [options]="state" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('actividadAgropecuaria')}" />
                <label for="actividadAgropecuaria">Actividad agropecuaria AA + 1km</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('actividadAgropecuaria')">This field is required.</small>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="encuestas" inputId="encuestas" [options]="state" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('encuestas')}" />
                <label for="encuestas">Encuestas</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('encuestas')">This field is required.</small>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="subsidiosAa" inputId="subsidiosAa" [options]="state" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('subsidiosAa')}" />
                <label for="subsidiosAa">Subsidios AA + 1km</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('subsidiosAa')">This field is required.</small>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="pendienteAa" inputId="pendienteAa" [options]="state" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('pendienteAa')}" />
                <label for="pendienteAa">Pendiente AA</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('pendienteAa')">This field is required.</small>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="cambioCoberturaAa" inputId="cambioCoberturaAa" [options]="state" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('cambioCoberturaAa')}" />
                <label for="cambioCoberturaAa">Cambio de cobertura AA</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('cambioCoberturaAa')">This field is required.</small>
        </div>
    </div>
</div>

<div class="col-12 pb-5">
    <div class="pb-3">
        <hr class="m-0 p-0">
        <h5>Local Feasibility on AA</h5>
    </div>
    <div class="grid">
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select formControlName="resultadoPedAaLocal" inputId="resultadoPedAaLocal" [options]="state" optionLabel="name" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('resultadoPedAaLocal')}" />
                <label for="resultadoPedAaLocal">Resultado PED AA-Local</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('resultadoPedAaLocal')">This field is required.</small>
        </div>
      <!-- UPLOAD PED AA-Local-->
        <div class="col-12 md:col-4">
            <div class="flex justify-content-between align-items-center document" style="height: 2.5rem;">
                <div class="flex align-items-center">
                    <small *ngIf="!pedUploaded">Upload Document PED AA-Local</small>
                    <small *ngIf="pedUploaded">{{ pedFile?.name }}</small>
                </div>
                <div class="flex align-items-center justify-content-center" style="width: 2.5rem; height: 2.5rem;">
                    <i *ngIf="pedUploading" class="pi pi-spinner-dotted pi-spin green" style="font-size: 1.5rem;"></i>
                    <p-fileupload *ngIf="!pedUploading" mode="basic" chooseIcon="pi pi-upload" [auto]="true"
                        chooseStyleClass="p-button-text p-button-primary p-button-icon-only"
                        (onSelect)="onPedUpload($event)">
                    </p-fileupload>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-12">
            <p-floatlabel>
                <textarea pTextarea formControlName="notesLocal" id="notesLocal" rows="3" class="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': isInvalid('notesLocal')}"></textarea>
                <label for="notesLocal">Notes PED AA-Local</label>
            </p-floatlabel>
            <small class="p-error" *ngIf="isInvalid('notesLocal')">This field is required.</small>
        </div>
    </div>
</div>

<div class="flex justify-content-center flex-wrap">
    <div class="col-3">
        <p-button styleClass="w-full" label="Save" [rounded]="true" (click)="saveForm()" />
    </div>
</div>

</form>