.login-body{
    background-image: url("../../../../../public/login-fondo.png") ;
	height: 100vh;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
    position: fixed;
}

.login-content{
    height: 100vh;
}

.login-present h1, h4{
    color: white;
}

h4{
    letter-spacing: 10px;
}

.login-present{
margin: 100px;
}

.login-log{
    margin: 100px 100px;
}

.login-form{
    padding-bottom: 24px;
}

.login-registrer{

    a{
     color: #21B6A8;   
    }
}
/*inicia la animacion */
.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

/* HELLO, */
.hello {
  width: 0;
  border-right: 3px solid currentColor;

  animation:
    typingHello 1s steps(6, end) forwards,
    hideCursor 0s 1s forwards;
}

/* Welcome! */
.welcome {
  width: 0;
  border-right: 3px solid transparent;

  animation:
    showCursor 0s 1s forwards,
    typingWelcome 1.2s steps(8, end) 1s forwards,
    blink .8s step-end infinite 2.2s;
}

@keyframes typingHello {
  from { width: 0; }
  to { width: 6ch; }
}

@keyframes typingWelcome {
  from { width: 0; }
  to { width: 11ch; }
}

@keyframes hideCursor {
  to {
    border-right-color: transparent;
  }
}

@keyframes showCursor {
  to {
    border-right-color: currentColor;
  }
}

@keyframes blink {
  50% {
    border-right-color: transparent;
  }
}