
table {
    width: 100%;
    text-indent: 0px;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    visibility: visible;

    tr td {
        padding: 4px;

        border-bottom: 1px solid #e5e7eb
    }
}


.green {
    color: #088F83;
}

.orange {
    color: #D87610;
}

.gann-milestone {
    td {
        background-color: #F5F5F5;
    }
}