   <div>
        <div class="footer flex justify-content-between flex-wrap">
            <div>
                <p-floatlabel class="w-full md:w-56">
                    <p-select inputId="over_label"  optionLabel="name" styleClass="w-full" />
                    <label for="over_label">RP</label>
                </p-floatlabel>
            </div>
            <div>
                <i class="pi pi-circle-on p-1 green">&nbsp;Fecha planeada</i>
                <i class="pi pi-circle-on p-1 orange">&nbsp;Fecha asignada</i>

            </div>
        </div>
        <br>

        <table class="gann-milestone">
            <thead>
                <tr>
                    <th>[PROCESS]</th>
                    <th>JAN</th>
                    <th>FEB</th>
                    <th>MAR</th>
                    <th>APR</th>
                    <th>MAY</th>
                    <th>JUN</th>
                    <th>JUL</th>
                    <th>AUG</th>
                    <th>SEP</th>
                    <th>OCT</th>
                    <th>NOV</th>
                    <th>DEZ</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td>[mileston]</td>
                    <td><i class="pi pi-circle-on p-1 green" pTooltip="25 / Jan / 2025" tooltipPosition="bottom"></i>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><i class="pi pi-circle-on p-1 orange" pTooltip="12 / Dez / 2025" tooltipPosition="bottom"></i>
                    </td>
                </tr>
                <tr class="text-center">
                    <td>[mileston]</td>
                    <td></td>
                    <td></td>
                    <td><i class="pi pi-circle-on p-1 green" pTooltip="01 / Mar / 2025" tooltipPosition="bottom"></i><i
                            class="pi pi-circle-on p-1 orange" pTooltip="30 / Mar / 2025" tooltipPosition="bottom"></i>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>