
    <h4 class="tit-subcu font-bold">Feasibility</h4>

    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Team and Plan</p-tab>
            <p-tab value="1">Pre-PIN Assumptions</p-tab>
            <p-tab value="2">Project area</p-tab>
            <p-tab value="3">Activity area</p-tab>
            <p-tab value="4">PED</p-tab>
            <p-tab value="5">CDR Estimation</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
           <team-and-plan></team-and-plan>
            </p-tabpanel>
            <p-tabpanel value="1">
           <pre-pin></pre-pin>
            </p-tabpanel>
            <p-tabpanel value="2">
              <project-area></project-area>
            </p-tabpanel>
            <p-tabpanel value="3">
            <activity-area></activity-area>
            </p-tabpanel>
            <p-tabpanel value="4">
            <ped></ped>
            </p-tabpanel>
            <p-tabpanel value="5">
           <cdr-estimation></cdr-estimation>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
