<p-menubar [model]="items" styleClass="center-global">
    <ng-template pTemplate="start">
        <img src="../logo-white.png" alt="" width="150">
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
        <a pRipple class="flex align-items-center p-menuitem-link">
            <span class="ml-2">{{ item.label }}</span>
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="inline-flex align-items-center flex-wrap">
            <div class="pr-5">
                <p-select [options]="projects" (onChange)="onProjectSelected(selectedCountry)"
                    [(ngModel)]="selectedCountry" optionLabel="ProjectName" [filter]="true" filterBy="ProjectName"
                    [showClear]="true" placeholder="Select a project">
                    <ng-template #selectedItem let-selectedOption>
                        <div class="flex items-center gap-2" *ngIf="selectedOption">
                            <div>{{ selectedOption.ProjectName }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-country #item>
                        <div class="flex items-center gap-2">
                            <div>{{ country.ProjectName }}</div>
                        </div>
                    </ng-template>
                    <ng-template #dropdownicon>
                        <i class="pi pi-list"></i>
                    </ng-template>
                    <ng-template #footer>
                        <div class="pb-3">
                            <p-divider />
                            <p-button label="New project" fluid severity="secondary" text size="small"
                                routerLink="portafolio/prospect" icon="pi pi-plus" />
                        </div>
                    </ng-template>
                </p-select>
            </div>
            <div class="pr-3">
                <p-button pTooltip="Report a Problem" tooltipPosition="bottom" icon="fa-solid fa-screwdriver-wrench" size="small" 
                    severity="warn" [rounded]="true" ></p-button>
            </div>
            <div>
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" 
                    (click)="sidebarPerfil = true" />
            </div>
        </div>
    </ng-template>
</p-menubar>

<!--menu perfil y configuracion-->
<p-drawer [(visible)]="sidebarPerfil" position="right">
    <ng-template pTemplate="header" stlyleClass="fondo">
        <div class=" align-items-center gap-2">
            <p>Administrador general</p>

        </div>
    </ng-template>

    <div class="text-center fondo pb-3">
        <img class="avatar" src="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" alt="">
        <h4 class="m-0 p-0">{{user?.name}}</h4>
        <small class="m-0 p-0">{{user?.email}}</small>
    </div>

    <div>
        <p class="py-2 venta">Configuración</p>
        <p-menu #menu [model]="avatar" />
    </div>
    <ng-template #footer>
        <div class="flex items-center gap-2">
            <button pButton label="Logout" icon="pi pi-sign-out" class="w-full" severity="danger" text
                (click)="logout()"></button>
        </div>
    </ng-template>
</p-drawer>