<p-menubar [model]="items" styleClass="center-global">
    <ng-template pTemplate="start">
        <img src="logo-white.png" alt="" width="150">
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
        <a pRipple class="flex align-items-center p-menuitem-link">
            <span class="ml-2">{{ item.label }}</span>
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="inline-flex align-items-center flex-wrap">
            <div class="pr-5" *ngIf="hasProjectsAccess">
                <p-select [options]="projects" (onChange)="onProjectSelected($event.value)"
                    [(ngModel)]="selectedCountry" optionLabel="project_name" [filter]="true" filterBy="project_name"
                    [showClear]="true" placeholder="Select a project">
                    <ng-template #selectedItem let-selectedOption>
                        <div class="flex items-center gap-2" *ngIf="selectedOption">
                            <div>{{ selectedOption.project_name }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-project #item>
                        <div class="flex items-center gap-2">
                            <div>{{ project.project_name }}</div>
                        </div>
                    </ng-template>
                    <ng-template #dropdownicon>
                        <i class="pi pi-list"></i>
                    </ng-template>
                    <ng-template #footer>
                        <div class="pb-3">
                            <p-divider />
                            <p-button label="New project" fluid severity="secondary" text size="small"
                                routerLink="portafolio/origination/prospect" icon="pi pi-plus" />
                        </div>
                    </ng-template>
                </p-select>
            </div>
            <div class="pr-3">
                <p-button pTooltip="Report a Problem" tooltipPosition="bottom" icon="fa-solid fa-screwdriver-wrench"
                    size="small" severity="warn" [rounded]="true"></p-button>
            </div>
            <div class="avatar-mini" (click)="sidebarPerfil = true" >
                <!--poner la 1er letra de nombre y de apellido-->
              <p>{{cutName(user?.name)}}</p>
            </div>
        </div>
    </ng-template>
</p-menubar>

<!--menu perfil y configuracion-->
<p-drawer [(visible)]="sidebarPerfil" position="right">
    <ng-template pTemplate="header" stlyleClass="fondo">
        <div class=" align-items-center gap-2">
            User Profile
        </div>
    </ng-template>

    <div class="text-center fondo pb-3">
        <div class="relative inline-block" (mouseenter)="hoverAvatar = true" (mouseleave)="hoverAvatar = false"
            style="cursor: pointer;">
            <img class="avatar" [src]="profileImage" alt="">
            <div *ngIf="hoverAvatar" class="hover-avatar">
                <a (click)="triggerFileInput()"><i class="pi pi-camera"></i><br><small>Upload photo</small></a>
                <input #fileInput type="file" accept="image/*" style="display: none;"
                    (change)="onPhotoSelected($event)" />
            </div>
        </div>
        <h4 class="m-0 p-0">{{user?.name}}</h4>
        <p>{{user?.puesto}}</p>
        <small class="m-0 p-0">{{user?.email}}</small>
    </div>

    <div>
        <p-menu #menu [model]="avatar" />
    </div>
    <ng-template #footer>
        <div class="flex items-center gap-2">
            <button pButton label="Logout" icon="pi pi-sign-out" class="w-full" severity="danger" text
                (click)="logout()"></button>
        </div>
    </ng-template>
</p-drawer>