<!--tabla de cantidades totales-->

<div class="grid">
    <div class="col-12 md:col-6">
        <table class="w-full pb-5 table-monitor">
            <thead>
                <tr>
                    <th colspan="3">Capex Approved $ </th>
                </tr>
                <tr>
                    <th></th>
                    <th>Planned</th>
                    <th>Actual</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><small>Type of beneficiary</small></th>
                    <td>$166,848 <small>USD</small></td>
                    <td>$166,848 <small>USD</small></td>
                </tr>
                <tr>
                    <th scope="row"><small>Service Providers</small></th>
                    <td>$166,848 <small>USD</small></td>
                    <td>$166,848 <small>USD</small></td>
                </tr>
                <tr>
                    <th scope="row"><small>Totals</small></th>
                    <td class="font-bold">$166,848 <small>USD</small></td>
                    <td class="font-bold">$166,848 <small>USD</small></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 md:col-6">
        <table class="w-full pb-5 table-monitor">
            <thead>
                <tr>
                    <th colspan="3">Opex Approved $ </th>
                </tr>
                <tr>
                    <th></th>
                    <th>Planned</th>
                    <th>Actual</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><small>Type of beneficiary</small></th>
                    <td>$166,848 <small>USD</small></td>
                    <td>$166,848 <small>USD</small></td>
                </tr>
                <tr>
                    <th scope="row"><small>Service Providers</small></th>
                    <td>$166,848 <small>USD</small></td>
                    <td>$166,848 <small>USD</small></td>
                </tr>
                <tr>
                    <th scope="row"><small>Totals</small></th>
                    <td class="font-bold">$166,848 <small>USD</small></td>
                    <td class="font-bold">$166,848 <small>USD</small></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<p-table [value]="customers" sortField="representative.name" sortMode="single" [scrollable]="true"
    rowGroupMode="subheader" groupRowsBy="representative.name">
    <ng-template #caption>
        <div class="flex justify-content-between flex-wrap">
            <div class="inline-flex">
                <h5 class="pr-5">Details type of proveedor</h5>
                <p-message severity="info">31/07/2022 - 29/05/2026</p-message>
            </div>
            <div>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input pInputText type="text" placeholder="Search..." />
                </p-iconfield>
            </div>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th>Activity name</th>
            <th>Sub account name</th>
            <th>Planned</th>
            <th>Actual</th>
        </tr>
    </ng-template>
    <ng-template #groupheader let-customer>
        <tr pRowGroupHeader>
            <td colspan="2">
                <div class="flex items-center gap-2">
                    <!--lleva el nombre de type of proveedor para el scroll-->
                    <span class="font-bold">{{ customer.representative.name }}</span>
                </div>
            </td>
            <td>
                <span class="font-bold">{{customer.name}}</span>
            </td>
            <td>
                <span class="font-bold">{{customer.name}}</span>
            </td>
        </tr>
    </ng-template>

    <ng-template #body let-customer let-rowIndex="rowIndex">
        <tr>
            <td>
                {{customer.name}}
            </td>
            <td>
                {{customer.name}}
            </td>
            <td>
                {{customer.name}}
            </td>
            <td>
                {{customer.name}}
            </td>
        </tr>
    </ng-template>
</p-table>