     <div class="pb-5">
                <h5 class="font-bold">Mantenimiento / rehabilitación de brechas cortafuego</h5>
                <p><i class="fa-solid fa-calendar-day pr-4"></i> 15/05/2024 - 28/05/2024</p>
                <p>
                    CAPEX - 510.1.1 Costo de verificacion en sitio
                    <br>
                    SOP-DES Manejo Integral Fuego BTr-V1
                </p>
            </div>
            <div class="pb-5">


                <div class="grid">
                    <div class="col-4">
                        <p><i class="fa-solid fa-user"></i> Julio C. Canto Martin <br>
                            <small>Supervisor</small>
                        </p>
                    </div>
                    <div class="col-4">
                        <p><i class="fa-solid fa-user"></i> Leonardo Sanchez Ramos <br>
                            <small>Evaluador</small>
                        </p>
                    </div>
                    <div class="col-2">
                        <p class="p-0 m-0 font-bold">$2,500.00 <span class="text-xs">USD</span></p>
                        <small>Budget estimated</small>
                    </div>
                    <div class="col-2">
                        <p class="p-0 m-0 font-bold">$2,500.00 <span class="text-xs">USD</span></p>
                        <small>RP anterior</small>
                    </div>


                </div>
            </div>
            <div class="pb-5">
                <div class="pb-3">
                    <hr class="m-0 p-0">
                    <h5>Goal</h5>
                </div>
                <p>Pago de jornales para eliminar todo el material vegetal en una franja de terreno de mínimo tres
                    metros de ancho, libre de material orgánico hasta el suelo mineral, que funcione como barrera
                    artificial para detener y controlar el avance del fuego. Se ajusta monto a $2500 USD para ajustar el
                    monto original de actividades PADI ERPA . Monto original presupuestado a esta actividad $2,271 USD
                </p>
            </div>
            <div class="pb-5">
                <div class="pb-3">
                    <hr class="m-0 p-0">
                    <h5>Quantitative indicator</h5>
                </div>
                <div class="flex justify-content-around align-items-stretch  flex-wrap pb-2">
                    <div class="kpi-badge col align-self-stretch">
                        <p class="font-bold">Hombres</p>
                                <p class="p-1 text-3xl font-bold">70</p>
                        <small>KPI: Participando <br> ODS: Fin de la pobreza</small>
                    </div>
                    <div class="kpi-badge col align-self-stretch">
                        <p class="font-bold">Hombres</p>
                                <p class="p-1 text-3xl font-bold">70</p>
                        <small>KPI: Participando <br> ODS: Fin de la pobreza</small>
                    </div>
                    <div class="kpi-badge col align-self-stretch">
                        <p class="font-bold">Hombres</p>
                                <p class="p-1 text-3xl font-bold">70</p>
                        <small>KPI: Participando <br> ODS: Fin de la pobreza</small>
                    </div>
                    <div class="kpi-badge col align-self-stretch">
                        <p class="font-bold">Hombres</p>
                                <p class="p-1 text-3xl font-bold">70</p>
                        <small>KPI: Participando <br> ODS: Fin de la pobreza</small>
                    </div>
                    
                </div>
            </div>
            <div class="pb-5">
                <div class="pb-3">
                    <hr class="m-0 p-0">
                    <h5>Reporting</h5>
                </div>
                <p-table [value]="customers" size="small">
                    <ng-template #header>
                        <tr>
                            <th>WHO?</th>
                            <th>HOW?</th>
                            <th>WHEN?</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-customer>
                        <tr>
                            <td>{{customer.company}}</td>
                            <td>{{customer.company}}</td>
                            <td>{{customer.company}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="pb-5">
                <div class="pb-3">
                    <hr class="m-0 p-0">
                    <h5>Location map</h5>
                </div>
                imagen
            </div>