@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Red+Hat+Display&display=swap');

//Conexiones para el css

.Font-P-RedHatDisplay {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Font-H-playfair {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


//Inicia los CSS
html,
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: #ffffff;
    color: #374151;
    font-size: 16px;
    @extend .Font-P-RedHatDisplay;
}

.content-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3,
h4 {
    @extend .Font-H-playfair;
    margin-block-end: 8px;
    margin-block-start: 8px;
    color: #163029;
}

h5,
h6 {
    @extend .Font-H-playfair;
    margin-block-end: 8px;
    margin-block-start: 8px;
    color: #374151;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    margin-block-end: 0px;
    margin-block-start: 0px;
}

small {
    font-size: 12px;
    font-weight: 700;
    color: #596864;
}

footer {
    padding-top: 100px
}

.footer-body {
    background-color: #163029;
    color: white;
    padding: 16px 50px;
}

.p-inputtext,
.p-password {
    width: 100%;

}

label {
    margin-left: 5px;
    font-size: 12px;
}

section {
    padding: 0px 32px;
}

.p-tooltip .p-tooltip-text {
    font-size: 12px !important;
}

.username-help {
    font-size: 11px;
    font-weight: 400 !important;
}

.p-breadcrumb .p-breadcrumb-list {
    font-size: 12px !important;
}

.document {
    background: #E3F0EA;
    border-radius: 8px;
    padding: 2px 16px;

    .green {
        color: #3DB87B;
    }

    a {
        padding-left: 16px;
        color: #163029;
    }
}

.tit-subcu {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 40%;
        height: 3px;
        border-radius: 2px;
        background-color: #088F83;
    }
}

// estilos que no entran en el .ts del tema construido

.p-menubar {
    .p-menubar-root-list {
        .p-menubar-item-content:hover {
            box-shadow: inset 0px -2px 0px 0px #00946E;
            border-radius: 0 !important;
            font-weight: 600;
        }
    }
}


.p-menubar-submenu {
    .p-menubar-item-content {
        color: #163029 !important;

        &:hover {
            box-shadow: none !important;
            border-radius: 0 !important;
            font-weight: 400 !important;
        }
    }
}

.p-error {
    color: #D1410D !important;
    font-size: 10px !important;
    font-weight: 400 !important;
}