    <div class="flex align-content-center flex-wrap py-3">
        <i class="fa-solid fa-circle-info pr-2" style="font-size: 2rem"></i>
        <p>
            <b>PADIs approved by Assembly</b> <br>
        This view shows only PADIs that have been formally approved by the Assembly and are considered final and authorized.
        </p>
    </div>

<p-table [value]="customers" sortField="representative.name" sortMode="single" [scrollable]="true" size="small"
    rowGroupMode="subheader" groupRowsBy="representative.name">
    <ng-template #header>
        <tr>
            <th>Code</th>
            <th>RP</th>
            <th>Date generation</th>
            <th>Description</th>
            <th>Total USD</th>
            <th>Total activities</th>
            <th>Status</th>
            <th style="width: 6rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-customer let-rowIndex="rowIndex">
        <tr>
            <td>{{customer.company}}</td>
            <td>{{customer.company}}</td>
            <td>{{customer.company}}</td>
            <td>{{customer.company}}</td>
            <td>{{customer.company}}</td>
            <td>{{customer.company}}</td>
            <td> <p-tag [value]="customer.status" [severity]="getSeverity(customer.status)" /></td>
            <td>
                <p-button icon="pi pi-eye" severity="secondary" variant="text" [rounded]="true" routerLink="view-planning"/>
            </td>
        </tr>
    </ng-template>
</p-table>