.po-icon {
    padding: 20px;
    background: #E3F0EA;
    border-radius: 12px;
    margin-right: 12px;

    i {
        color: #163029;
    }
}

.po-card {
    background: white;
    padding: 12px 14px;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
    width: 30.5%;
    margin: 4px;

    small {
        font-size: 11px;
        letter-spacing: 0.5px;
    }
}