<div class="flex flex-wrap">

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-hashtag"></i>
            </div>
            <div>
                <small>ID CAR</small>
                <p>{{ overviewData?.projects_id }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-id-card"></i>
            </div>
            <div>
                <small>ID CANOPIA</small>
                <p>{{ overviewData?.projects_id }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-map"></i>
            </div>
            <div>
                <small>STATE</small>
                <p>{{ overviewData?.state_name }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-layer-group"></i>
            </div>
            <div>
                <small>AGGREGATION</small>
                <p>{{ overviewData?.projects_id }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-city"></i>
            </div>
            <div>
                <small>MINICIPALITY</small>
                <p>{{ overviewData?.municipality_name }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-seedling"></i>
            </div>
            <div>
                <small>AGRARIAN NUCLEUS</small>
                <p>{{ overviewData?.nucleus_name }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-scale-balanced"></i>
            </div>
            <div>
                <small>LAND TENURE TYPE</small>
                <p>{{ overviewLandTenure }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-handshake"></i>
            </div>
            <div>
                <small>PROJECT COUNTERPART</small>
                <p>{{ overviewData?.project_counterpart }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-diagram-project"></i>
            </div>
            <div>
                <small>PROJECT TYPE</small>
                <p>{{ overviewPropertyType }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-calendar-days"></i>
            </div>
            <div>
                <small>START AND END DATE</small>
                <p>{{ overviewData?.projects_id }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-chart-line"></i>
            </div>
            <div>
                <small>CURRENT RP</small>
                <p>{{ overviewData?.projects_id }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-award"></i>
            </div>
            <div>
                <small>CDRs ISSUED TO DATE</small>
                <p>{{ overviewData?.projects_id }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-bullseye"></i>
            </div>
            <div>
                <small>EXPECTED CDRs CURRENT RP</small>
                <p>{{ overviewData?.projects_id }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-user-tie"></i>
            </div>
            <div>
                <small>PMs</small>
                <p>{{ overviewData?.project_manager_name }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-list-check"></i>
            </div>
            <div>
                <small>SME (OPEN SPRINTS)</small>
                <p>{{ overviewData?.projects_id }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-leaf"></i>
            </div>
            <div>
                <small>SIL</small>
                <p>{{ overviewData?.projects_id }}</p>
            </div>
        </div>
    </div>

    <div class="align-self-stretch flex flex-wrap po-card">
        <div class="inline-flex">
            <div class="po-icon">
                <i class="fa-solid fa-user-gear"></i>
            </div>
            <div>
                <small>PROJECT COORDINATOR</small>
                <p>{{ overviewData?.project_coordinator }}</p>
            </div>
        </div>
    </div>

</div>